body {
    color: black;
    margin: 0;
    font-family: Inter, system-ui,"Segoe UI", sans-serif;
    background: linear-gradient(to bottom, #836193, #c66c92, #fdacab);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    height: 100%
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

main {
    flex: 1;
}

.site-header .navbar{
    padding: 1rem 0;
}

.site-header .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #292929 !important;
}

.site-header .nav-link {
    color: #000 !important;
    transition: color 0.3s ease;
}

main h1 {
    color: #040c30 !important;
}

.card {
    border: 1px solid #040c30 !important;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#checkoutBtn, .btn-dark{
    border: none;
}

#checkoutBtn:hover, .btn-dark:hover {
    transform: translateY(-2px);
}

.btn-outline-dark {
    border: 1px solid #040c30 !important;
}

.btn-outline-dark:hover {
    transform: translateY(-2px);
}

footer {
    background: white;
}