body {
    color: black;
    margin: 0;
    font-family: Inter, system-ui,"Segoe UI", sans-serif;
    background: linear-gradient(to bottom, #836193, #c66c92, #fdacab);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.site-header .navbar{
    padding: 1rem 0;
}

.site-header .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #292929 !important;
}

.site-header .nav-link {
    color: #000 !important;
    transition: color 0.3s ease;
}

.hero-section {
    border-radius: 2rem;
    padding: 4rem 0;
    position: relative;
    overflow: hidden;
}

.hero-section .brand-text {
    color: #ffdebf;
}

.text-decoration-none {
    color: #fff !important;
    transition: color 0.3s ease;
}

.text-decoration-none:hover {
    color: #ffdebf !important;
}

.hero-section .text-muted {
  color: #040c30; 
}

.hero-section .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    transition: all 0.3s ease;
}

h1 {
    color: #040c30;
}

.hero-section .btn-outline-dark {
  color: #fff;
  border-color: rgba(255,255,255,0.85);
  background: transparent;
}
.hero-section .btn-outline-dark:hover {
  background: #fff;
  color: var(--text);
  border-color: #fff;
}

.hero-section .btn-outline-dark:hover {
    background-color: #ffdebf !important;
    color: white !important;
}

.product-card {
    border: 1px solid #434a76 !important;
}

.product-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.product-card .btn:hover {
    transform: translateY(-5px);
}

.product-card .card-img-top {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.product-card .btn {
    background: #040c30;
    color: #fff1bf;
    border: none;
}

.product-details {
    padding: 4rem 0;
}

footer {
    background: white;
}

@media (max-width: 991px) {
    .herosection {
        padding: 3rem 0;
    }

    .product-card .card-img-top {
        height: 250px;
    }
}

@media (max-width: 768px) {
    .hero-section {
        padding: 2rem 0;
    }

    .hero-section h1 {
        font-size: 2.5rem;
    }

    .product-card .card-img-top {
        height: 200px;
    }
}